{% extends "base.html" %}

{% block content %}

<table>
    <tbody>
    
{% for row in board %}
        <tr>
    {% for char in row %}
            <!-- add id to char? -->
            <td>{{char}}</td>
        
    {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

<!-- page cannot refresh
use AJAX -->
<form action="" id="submit-form">
    <p>Enter Word: 
        <input type="text" name="guess" id='guess'>
        <button id="submit-guess">Submit</button>
    </p>
    
</form>

<p>Games Played: <span id="game-count">{{gameCount}}</span></p>
<p>Record Score: <span id="record-score">{{score}}</span></p>

{% endblock %}